<h1>I'm Kiko!</h1>
<p>I am working on my first web application, following One Month Rails' cool Tutorial</p>
<p>for more information, contact me on  <%= link_to "franciscomello@hotmail.com", "#", class: "btn btn-primary" %></p>